<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ElCapitan</key>
	<dict>
		<key>type</key>
		<string>installer</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple20/v4/dc/94/05/dc940501-f06f-2a91-555e-3dc272653af5/izt4803713449411067066.pkg</string>
		<key>version</key>
		<string>10.11.6</string>
	</dict>
	<key>Keynote</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/itunes-assets/Purple118/v4/11/2b/97/112b97ef-4bc7-a9a4-d1e3-84c5a60090bb/hms2149399871236266041.pkg</string>
		<key>version</key>
		<string>8.3</string>
	</dict>
	<key>Numbers</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>=http://osxapps.itunes.apple.com/itunes-assets/Purple128/v4/a0/7d/e2/a07de279-983b-4ac5-0109-f2059fd54d74/mog1075871419855285848.pkg</string>
		<key>version</key>
		<string>5.3</string>
	</dict>
	<key>Pages</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/itunes-assets/Purple118/v4/45/60/06/4560060d-51c0-b98b-af8e-59200e69e27a/wkg5700910398067469555.pkg</string>
		<key>version</key>
		<string>7.3</string>
	</dict>
	<key>Sierra</key>
	<dict>
		<key>type</key>
		<string>installer</string>
		<key>url</key>
        <string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple118/v4/1a/a1/74/1aa174fe-90b0-eb1f-c96a-3c13cf191052/par759846163980697280.pkg</string>
		<key>version</key>
		<string>10.12.6</string>
	</dict>
	<key>HighSierra</key>
	<dict>
		<key>type</key>
		<string>installer</string>
		<key>url</key>
        <string>http://swcdn.apple.com/content/downloads/29/03/091-94326/45lbgwa82gbgt7zbgeqlaurw2t9zxl8ku7/InstallESDDmg.pkg</string>
		<key>version</key>
		<string>10.13.6</string>
	</dict>
	<key>Mojave</key>
	<dict>
		<key>type</key>
		<string>installer</string>
		<key>url</key>
        <string>http://swcdn.apple.com/content/downloads/22/46/041-31308/r39g613fmms2li42if9r120zwn2bn7rnhn/InstallESDDmg.pkg</string>
		<key>version</key>
		<string>10.14.3</string>
	</dict>
	<key>Xcode</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/itunes-assets/Purple128/v4/ef/fc/3a/effc3a28-244d-aff0-36e9-f3d445a62f21/zmm4043378376811159710.pkg</string>
		<key>version</key>
		<string>10.1</string>
	</dict>
	<key>iMovie</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/itunes-assets/Purple128/v4/27/82/a4/2782a49b-660d-0ef1-4311-158645d4e278/yrz6822230104013234184.pkg</string>
		<key>version</key>
		<string>10.1.10</string>
	</dict>
</dict>
</plist>
